<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-title="YUPS Tech Solutions" data-image="/yups.png"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fuel" data-view="Meter" data-title="Fuel" data-height="200" data-width="200" data-min="0" data-max="700" data-suffix=" L"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sys_power" data-view="Meter" data-title="System Power" data-height="200" data-width="200" data-min="0" data-max="1000" data-suffix=" W"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="c1" data-view="Meter" data-title="C1" data-height="200" data-width="200" data-min="0" data-max="1000" data-suffix=" W"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="c2" data-view="Meter" data-title="C2" data-height="200" data-width="200" data-min="0" data-max="1000" data-suffix=" W"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Panel Temperature" data-suffix="°C" style="background-color:#47bbb3;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="battery_temp" data-view="Number" data-title="Battery Temperature" data-prefix="°C"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sys_volt" data-view="Number" data-title="System Voltage" data-prefix="V"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="battery_volt" data-view="Number" data-title="Battery Voltage" data-prefix="V"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ip1" data-view="Number" data-title="I/P 1" data-prefix="ON"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ip2" data-view="Number" data-title="I/P 1" data-prefix="OFF"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="op1" data-view="Number" data-title="O/P 1" data-prefix="ON"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="op2" data-view="Number" data-title="O/P 2" data-prefix="ON"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="buzzwords" data-view="List" data-unordered="false" data-title="DG Parameters" ></div>
    </li>


  </ul>
</div>
