<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="system" data-view="List" data-unordered="false" data-title="System"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="battery" data-view="List" data-unordered="false" data-title="Battery"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="generator" data-view="List" data-unordered="false" data-title="Generator"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fuel" data-view="List" data-unordered="false" data-title="Fuel"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="customer1" data-view="List" data-unordered="false" data-title="Customer 1"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="customer2" data-view="List" data-unordered="false" data-title="Customer 2"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rectifier" data-view="List" data-unordered="false" data-title="Rectifier"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fuelmeter" data-view="Meter" data-title="Fuel" data-height="200" data-width="200" data-min="0" data-max="700" data-suffix=" %"></div>
    </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="c1" data-view="Meter" data-title="Customer 1" data-height="200" data-width="200" data-min="0" data-max="700" data-suffix=" W"></div>
    </li>


        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="c2" data-view="Meter" data-title="Customer 2" data-height="200" data-width="200" data-min="0" data-max="700" data-suffix=" W"></div>
        </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Image" data-image="/panel_temp_line.png"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sys_status" data-view="Text" data-title="SYSTEM STATUS" data-text="GRID" data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="convergence" data-view="Graph" data-title="Panel Temperature" data-suffix="°C" style="background-color:#47bbb3;"></div>
      </li>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="charge_status" data-view="Number" data-title="Charge Status" data-suffix="%"></div>
      </li>

      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-view="Image" data-image="/battery_temp_line.png"></div>
      </li>
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-view="Image" data-image="/grid_power_line.png"></div>
      </li>
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-view="Image" data-image="/total_power_line.png"></div>
      </li>
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-view="Image" data-image="/chart.png"></div>
      </li>






  </ul>
</div>
